#  https://people.revoledu.com/kardi/tutorial/KNN/KNN_Numerical-example.html
## You can find the example in the above link and according to the *KNN* algo I did the code below:

In [10]:
import pandas as pd
import numpy as np
# we create a dataframe that would include everything we need to perform calculations
df = pd.DataFrame({'x1' : [7,7,3,1], 'x2' : [7,4,4,4], 'Classification' : ['Bad', 'Bad', 'Good', 'Good']})
#creating a dataframe that has a new column containing the 'euclidean distance'
distanced = df.assign(near_distance = (np.sqrt(((df['x1']-3)**2) + ((df['x2']-7)**2))))
#printing our desired dataframe
distanced.round()
#rounding the floating number

   x1  x2 Classification  near_distance
0   7   7            Bad            4.0
1   7   4            Bad            5.0
2   3   4           Good            3.0
3   1   4           Good            4.0

In [11]:
#sorting
distanced.sort_values(by= 'near_distance')

   x1  x2 Classification  near_distance
2   3   4           Good       3.000000
3   1   4           Good       3.605551
0   7   7            Bad       4.000000
1   7   4            Bad       5.000000

In [12]:
#Resetting the index and dropping the old hojoborolo index
distanced_ext= distanced.sort_values(by='near_distance').reset_index(drop=True)
distanced_ext

   x1  x2 Classification  near_distance
0   3   4           Good       3.000000
1   1   4           Good       3.605551
2   7   7            Bad       4.000000
3   7   4            Bad       5.000000

In [13]:
#Ranking
distanced_ext['rank'] = distanced_ext.index 
distanced_ext['rank'] += 1
distanced_ext

   x1  x2 Classification  near_distance  rank
0   3   4           Good       3.000000     1
1   1   4           Good       3.605551     2
2   7   7            Bad       4.000000     3
3   7   4            Bad       5.000000     4

In [14]:
#creating another column that would say 'yes' in the ranks if ranks are <=3 
distanced_ext['included?'] = distanced_ext['rank'].apply(lambda knn: 'No' if knn >= 4 else 'Yes')
distanced_ext

   x1  x2 Classification  near_distance  rank included?
0   3   4           Good       3.000000     1       Yes
1   1   4           Good       3.605551     2       Yes
2   7   7            Bad       4.000000     3       Yes
3   7   4            Bad       5.000000     4        No

In [15]:
#locating the 'yes' inside 'included?' column and dropping all the others ..
desired_class = distanced_ext.loc[distanced_ext['included?'] == 'Yes']
desired_class

   x1  x2 Classification  near_distance  rank included?
1   3   4           Good       3.000000     1       Yes
2   1   4           Good       3.605551     2       Yes
3   7   7            Bad       4.000000     3       Yes

In [16]:
#counting the value of 'good' and 'bad' in the 'classification' column
desired_class['Classification'].value_counts()

Good    2
Bad     1
Name: Classification, dtype: int64

In [17]:
#output of majority and predicting
prediction = 'Good' if desired_class['Classification'].value_counts()['Good'] > desired_class['Classification'].value_counts()['Bad'] else 'Bad'
print('Prediction value of the Query Instance with (3,7) is in',prediction,'classifications')

Prediction value of the Query Instance with (3,7) is in Good classifications